body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.profile-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid black;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

button#toggle-mode {
    
    border-radius: 25px;
    padding: 20px;
    font-size: 1rem;
    background-color: #007bff;
    color: #fff;
}

button#toggle-mode .fa-moon,
button#toggle-mode .fa-sun {
    position: absolute;
    font-size: 1rem;
}

button#toggle-mode .fa-sun {
    display: none;
}

button#toggle-mode.dark-mode .fa-sun {
    display: block;
}

button#toggle-mode.dark-mode .fa-moon {
    display: none;
}

button#print-btn {
    background-color: #28a745;
    color: #fff;
}

.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

.dark-mode a {
    background-color: #121212;
    color: #e0e0e0;
}


.dark-mode button#toggle-mode {
    background-color: #6c757d;
}

.dark-mode button#print-btn {
    background-color: #218838;
}

.two-column {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.column {
    flex: 1;
    min-width: 300px;
}

@media print {
    button {
        display: none;
    }
}

footer{
    
    border:1px  solid #6c757d;
    text-align: center;
}

.text-h{
    font-weight: bold;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

a:hover{
 color: red;
 font-size: 18px;
}
